/* css for CodeQuiz */
:root {
  --primary-color: black;
  --secondary-color: blue;
  --tertiary-color: green;
  --white: white;
  --grey: #333; 
}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

/* gives the attributes of the body of text throughout, to check h & w values */
body {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  color: var(--primary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* styles header including view high scores, timer, and timer-text count-down */
header {
  margin-top: 23px;
  display: flex;
  flex-direction: row;
}

header a {
  color: var(--tertiary-color);
  text-decoration: none;
  font-size: 23px;
}

.high-scores {
  color: var(--secondary-color);
  text-decoration: none;
  padding-left: 23px;
}

.timer {
  color: var(--tertiary-color);
  position: absolute;
  margin-top: 23px;
  text-align: left;
  top: 0;
  right: 115px;
  width: 100px;
  font-size: 23px;
}

.timer-text {
  color: var(--tertiary-color);
  position: absolute;
  top: 23px;
  right: 56px;
  width: 92px;
  text-align: center;
  padding-left: 23px;
  font-size: 20px;
}

.setInterval {
  margin-top: 23px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  text-align: left;
}

/* styles intro-page of quiz including h1 p and start-btn */
.intro-page {
  display: flex;
  flex-wrap: wrap;
}

.intro-page h1 {
  width: 100%;
  padding-top: 46px;
  display: flex;
  justify-content: center;
  font-size: 46px;
}

.intro-page p {
  width: 100%;
  padding-top: 23px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 184px;
  padding-right: 184px;
  font-size: 23px;
}

.start-btn {
  margin: auto;
  margin-top: 28px;
  outline: none;
  border: none;
  display: inline-block;
  padding: 12px 18px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 23px;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--grey);
  cursor: pointer;
}

.start-btn:hover {
  box-shadow: 0 4px var(--grey);
  top: -3px;
  background-color: var(--tertiary-color);
}

.start-btn:active {
  box-shadow: 0 4px var(--grey);
  top: 0;
  background-color: var(--tertiary-color);
}

/* styles quiz-pages that present question array through JS h1, p, btns */
.quiz-page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 100px;
  text-align: left;
  padding-left: 230px;
  padding-right: 230px;
}

.quiz-page button {
  margin:auto;
  margin-top: 12px;
  margin-right: 230px;
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 0 10px 23px;
  width: 200px;
  text-align: left;
  background-color: var(--secondary-color);
  color: white;
  font-size: 23px;
  border-radius: 12px;
  position: relative;
  top: -4px;
  box-shadow: 0 3px var(--grey);
  cursor: pointer;
}

.quiz-page button:hover {
  box-shadow: 0 2px var(--grey);
  top: -3px;
  background-color: var(--tertiary-color);
}

.quiz-page button:active {
  box-shadow: 0 0px var(--grey);
  top: 0;
  background-color: var(--tertiary-color);
}

/* holder styling result-page in HTML for now, to be done via JS */
.result-page {
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  width: 100%;
  top: 0;
  text-align: left;
  padding-left: 253px;
  padding-right: 253px;
}

.result-page p1 {
  font-size: 46px;
  font-style: bold;
}

.result-page p2 {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 23px;
}

.result-page input {
  font-size: 16px;
  padding: 5px;
  width: 69%;
}

.result-page button {
  margin: auto;
  outline: none;
  border: none;
  display: inline-block;
  padding: 8px 15px;
  margin-left: 12px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 14px;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--grey);
  cursor: pointer;
}

.result-page button:hover {
  box-shadow: 0 2px var(--grey);
  top: -2px;
  background-color: var(--tertiary-color);
}

.result-page button:active {
  box-shadow: 0 0 px var(--grey);
  top: 0;
  background-color: var(--tertiary-color);
}

/* styles high-scores page for now, to be done via JS and requires local storage ?! */
.score-page {
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  width: 100%;
  top: 0;
  text-align: left;
  padding-left: 253px;
  padding-right: 253px;
}

.score-page p1 {
  font-size: 46px;
  font-style: bold;
  padding-bottom: 15px;
}

.score-page input {
  font-size: 16px;
  padding: 5px;
  width: 80%;
}

.score-page button {
  margin-top: 12px;
  outline: none;
  border: none;
  display: inline-block;
  padding: 5px;
  margin-left: 12px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 14px;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--grey);
  cursor: pointer;
}

.score-page button:hover {
  box-shadow: 0 2px var(--grey);
  top: -2px;
  background-color: var(--tertiary-color);
}

.score-page button:active {
  box-shadow: 0 0 px var(--grey);
  top: 0;
  background-color: var(--tertiary-color);
}

.score-page input {
  padding: 5px 5px;
}

/* to review these values, add values for smaller screens 768px 576px */
@media screen and (max-width: 992px) {

  .section h1 {
    padding-left: 46px;
    padding-right: 299px;
  }
  .section p {
    padding-left: 46px;
    padding-right: 299px;
  }

  .quiz-page {
    padding-right: 414px;
  }

  .result-page {
    padding-left: 46px;
    padding-right: 299px;
  }
  
}